@using GrooveVinyles.DataAccess
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Items</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < ViewBag.Orders.Count; i++)
    {
        <tr>
            <form method="get" asp-controller="Admin">
                <th scope="row">@(10 * (ViewBag.Page - 1) + (i + 1))</th>
                <td>@(((Order) ViewBag.Orders[i]).OrderId)</td>
                <td>
                    <input class="form-control-plaintext p-0" value="@(((Order) ViewBag.Orders[i]).FullName)">
                </td>
                <td>
                    <input class="form-control-plaintext p-0" value="@(((Order) ViewBag.Orders[i]).Address)">
                </td>
                
                <td>@(((Order) ViewBag.Orders[i]).VinylPurchases.Count)</td>
                
                <td class="w-25">
                    <input class="d-none" readonly name="OrderId" value="@(((Order) ViewBag.Orders[i]).OrderId)">
                    <button id="submit" asp-action="ManageOrder" type="submit" class="btn btn-primary">Open Order</button>
                </td>
            </form>
        </tr>
    }
    </tbody>
</table>
<nav aria-label="Navigate through Orders">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" style="user-select: none" href="@(ViewBag.Page == 1 ? null : "/Admin/ManageOrders/" + (ViewBag.Page - 1))">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= ViewBag.MaxPages; i++)
        {
            @if (i == ViewBag.Page)
            {
                <li class="page-item active">
                    <span class="page-link">
                        @(i)
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@("/Admin/ManageOrders/" + i)">@(i)</a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link" style="user-select: none" href="@(ViewBag.Page == ViewBag.MaxPages ? null : "/Admin/ManageOrders/" + (ViewBag.Page + 1))">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>